*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'merriweather', 'DM sans';
}
body{
    margin: 1rem 3rem;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background:linear-gradient(to right, violet, indigo, blue);
    border-radius: 2rem;
}

ul{
    display: flex;
    flex-direction:row;
    align-items: center;
}
li{
   padding:  2rem 3rem ; 
   list-style: none;
   text-decoration: none;
}
.slack-image{
    margin-top: 0.4rem;
}
#slackDisplayImage{
    max-width: 100%;
}
#slackUserName{
    margin-top: 10px;
}

#slackDayOfTheWeek{
    font-size: larger;
}
#currentUTCTime{
    font-size: larger;
}
#myTrack{
    font-size: larger;
}
p{
    font-size: 1.5rem;
    color: yellowgreen;  
}
h1{
    color: yellowgreen;
}

button{
    display: flex;
    list-style: none;
    background: linear-gradient(to left, rgb(255, 0, 179), yellow);
    padding: 1rem 2rem;
    margin-bottom: .6rem;
    text-decoration: none;
}

/*MOBILE*/

@media (max-width:55rem) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        background:linear-gradient(to left, violet, indigo, blue);
        border-radius: 2rem;
        margin-bottom: 2.5rem;
    }
    ul{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    li{
        padding:  1rem 3rem ; 
     }
    h1{
        padding-bottom: 1.5rem;
    }
    p{
        font-size: 1.2rem;
    }
}